extends layout

block prepend title
  | #{ 'Getting started - '}

block content
  div.container.header
    div.larger
      header.is-small
        h2 Getting started
  div.container.md-content
    div.larger
      aside Hi, let's start!
      section.md-container!= typogr(page.html).typogrify()
