h2 Basic
ul
 li
  a(href=baseUrl + 'articles/core') Core Principles
 li
  a(href=baseUrl + 'articles/architecture') Architecture
 li
  a(href=baseUrl + 'articles/basic-example') Basic
h2 Intermediate

h2 Advanced

